@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.titleBackground {
 /* background-color: #fffef9; */
}

.titleContent {
    padding: 80px 16px 0px 16px;
    /* padding-top: 70px; */
    max-width: 668px;
    margin: auto;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    font-family: ui-text, SF Pro Text, system-ui, sans-serif;
    font-size: 16px;
    font-weight: 500;

    /* font-family: 'Urbanist', sans-serif; */
    
    color: #414A56;
}

.tag {
    /* padding: 3px 16px;
    border: 1px solid #414A56;
    border-radius: 20px;
    background-color: #f5f8fa; */
}

.h1{
    /* font-family: 'Urbanist', sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: ui-display, SF Pro Display, system-ui, sans-serif;
    font-size: 36px;
    font-weight: 600;
    /* letter-spacing: -.05em; */
    overflow-wrap: break-word;
    margin: 17px 0;
    /* padding: 0 0 26px 0;
    border-bottom: solid 3px #5a6777; */
}

.h2 {
    /* font-family: 'Inter', sans-serif; */
    font-family: ui-text, SF Pro Text, system-ui, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;

    margin: 0;
    padding: 0 0 80px 0;
    border-bottom: solid 1.5px #1D1D1F; 
}

/* article section */
.article {
    font-family: ui-text, SF Pro Text, system-ui, sans-serif;
    font-size: 17px;
    line-height: 180%;
    font-weight: 400;

    margin: 80px auto 220px auto;
    max-width: 668px;
    padding: 0 16px;
}

.article h2 {
    /* font-family: 'Inter'; */
    /* color: #1D1D1F; */
    font-family: ui-display, SF Pro Display, system-ui, sans-serif;
    font-size: 25px;
    /* letter-spacing: -.05em; */
    font-weight: 600;
    line-height: 1.125;
    margin: 52px 0 26px 0;
    /* padding: 0 0 26px 0; */
    /* border-bottom: solid 3px #5a6777; */
}

.article h3 {
    /* color: blue; */
    font-size: 21px;
    /* letter-spacing: -.05em; */
    font-weight: 500;
    /* line-height: 27px; */
    /* margin-top: 60px; */
    margin-bottom: 6px;
    padding-bottom: 3px;
    /* border-bottom: solid 1px #414A56; */
}

.h5{
    font-size: 25px;
    /* letter-spacing: -.05em; */
    font-weight: 400;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 12.6px;
}

.article p {
    /* font-size: 17px;
    line-height: 150%;
    font-weight: 300; */
    /* letter-spacing: -0.05rem; */
    /* line-height: 24px; */
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.article ol {
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

.article li {
    padding-top: 10px;
    font-size: 17px;
    /* line-height: 30px; */
}

.article ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 10px;
}

.article ul ul{
    padding-inline-start: 30px;
}

.article hr {
    margin-bottom: 16px;
}

.article a {
    color: #06c;
}

.article a code {
    color: #06c; /* or any other styles you want to apply */
}

@media (max-width: 800px) {
    .titleContent {
        padding: 60px 16px 30px 16px;
    }

    .h1 {
        margin: 40px 0;
    }

    .h2 {
        line-height: 32px;
    }

    .article {
        margin: 30px auto 120px auto;
    }
}