.titleContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 16px;
    padding: 30px;
}

.featuredImage {
    width: 90px;
    min-width: 90px;
    height: 90px;
    border-radius: 28px;
}

.titleContent {
    margin-left: 30px;
}

.h1{
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.h2 {
    font-size: 24px;
    /* letter-spacing: -.05em; */
    font-weight: 600;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 80px;
}

.mdBody {
    margin: 80px 0 80px 0;
}

.h5{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.05em;
    color: #088BEE;
    margin-bottom: 0;
}

.mdBody h3 {
    font-size: 25px;
    /* letter-spacing: -.05em; */
    font-weight: 400;
    line-height: 25px;
    margin-top: 43px;
    margin-bottom: 6px;
}
.mdBody hr {
    margin-bottom: 16px;
}

.mdBody a {
    color: #0088cc;
}

.mdBody p{
    font-size: 17px;
    line-height: 27px;
    /* font-weight: 300; */
}

.mdBody li {
    font-size: 17px;
    line-height: 27px;
}

/* mobile screens */ 
@media (max-width: 620px) {
    .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    
        border-radius: 16px;
        padding: 30px;
    }

    .titleContent {
        margin: 10px 0 0 0;
    }
}