/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

 /* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #DFDFE0;
     background: none;
     /* text-shadow: 0 1px white; */
     /* font-family: 'Roboto Mono', monospace; */
     font-family: SF Mono,Menlo,monospace;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     font-size: 14.4px;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
     text-shadow: none;
     background: #b3d4fc;
 }
 
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
     text-shadow: none;
     background: #b3d4fc;
 }
 
 @media print {
     code[class*="language-"],
     pre[class*="language-"] {
         text-shadow: none;
     }
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 2em;
     margin: 2em 0;
     overflow: auto;
     font-size: 15.5px;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #212228;
     border-radius: 15px;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     /* padding: .1em .3em;
     border-radius: .2em;
     white-space: normal; */
     background: transparent;
     color: #6b7b8f;
     font-size: 100%;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: slategray;
 }
 
 .token.punctuation {
     color: #999;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #E2D386;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #ff8170;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
     color: #DFDFE0;
     /* background: hsla(0, 0%, 100%, .5); */
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword {
     color: #ff7ab2;
 }
 
 .token.function {
     color: #a97ced;
 }
 
 .token.regex,
 .token.important,
 .token.variable {
     color: #e90;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }

 .token.class-name {
    color: #b283ec;
 }

 .token.interpolation > :nth-child(1) {
    color: #78c2b4;
  }
  