:root {
  --color-primary: #CD104D;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: #000000;
  --color-accent: #d1dce5;
  --color-background: #FFFFFF;
  --dark-mode: #000;
  --dark-mode-hf: #CD104D;
}

html {
    background-color:  #ffffff; 
     /* lavenderblush; */
}

body { 
  /* font-family: 'Open Sans', sans-serif; */
  font-family: ui-text, SF Pro Text, system-ui, sans-serif;
  margin:0;
  /* color: #373530; */
  color: #1d1d1f;

  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  /* color: #000000; */
  /* color: #373530; */
  color: #000;
  /* color: #0088cc; */
  text-decoration: none;
}


/* a:hover {
  color: black;
  border: 2px solid;
  border-color:  #06c;
} */

/* a:active {
  color: blue;
} */

