html {
    background-color:  #ffffff; 
     /* lavenderblush; */
}

body { 
  margin:0;
  color: #373530;
}

a {
  /* color: #000000; */
  color: #373530;
  /* color: #0088cc; */
  text-decoration: none;
}


/* a:hover {
  color: black;
  border: 2px solid;
  border-color:  #06c;
} */

/* a:active {
  color: blue;
} */

