@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .entireBody {
    margin: 0;
    height: 100%;
    width: 100%;
} */

.abountContainerContainer {
    /* max-width: 840px; */
    /* margin: auto; */
    /* background-color: #242528; */
    /* background-color: #eaeff2; */
    /* background-color: #F5F8FA; */
    /* background-color: #ffe39d; */
    /* background-color: #ffdd88; */
    /* background-color: #FCEDBC; */
    /* background-color: #fff6d6; */
    /* background-color: #F9F9F9; */
    /* font-family: Inter; */
    /* color: #f1f1f7; */
    color: #000;
    font-family: ui-compact, SF Pro Compact, system-ui, sans-serif;

    margin: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer {
    /* padding: 128px 16px 128px 16px; */
    /* padding-top: 70px; */
    max-width: 740px;
    margin: auto;
    display: flex;
    justify-content: center;
  align-items: center;
    /* justify-content: space-between; */
    /* align-items: flex-start; */

    /* background-color: #F2F2F8; */
    /* background-color: #F9F2FC; */
    /* background-color: #FFFBE9; */

    /* background-color: #F6F2FC;
    padding: 30px;
    border-radius: 16px; */
}

.aboutTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* font-family: 'Urbanist', sans-serif; */
}

.introTitle {
    /* font-family: 'Urbanist', sans-serif; */
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 16px 0;
    padding:0;
}

.intro {
    font-weight: 300;
    font-size: 20px;
    /* font-style: normal; */
    line-height: 150%;
    margin: 0;
}

.introLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pageLink {
    margin-top: 40px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.02em;

    padding: 10px 40px;
    cursor: pointer;

    border: 2px solid #000;
    color: #000;
    /* border: 2px solid #FB2B43;
    color: #FB2B43; */

}

.pageLink:hover {
    /* background-color: #C3E4FF; */
    /* text-decoration: underline;
    text-decoration-color: #0070F5;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 25%;
    font-weight: 600;
    color: #0070F5; */
    border-color: #000;
    background-color: #000;
    color: #fff;
}

#cvLink {
    padding: 14px 68px;
}

.subSectionTitle {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 37px;
    letter-spacing: 0.01em;
    margin: 0 0 24px 0;
    padding:0;
}

.profileImage {
    display: inline;
    width: 76px; /* 120 */
    height: auto; /* 120 */
    min-width: 76px;  /* 120 */
    /* border-radius: 60px; */
    /* border-width: 1px; */
    /* border-color: #373530;
    border-style: solid; */
    margin-bottom: 12px;
    margin-left: -8px
    /* margin-left: 44px; */
}

.body {
    margin: 90px auto 180px auto;
    font-family: Inter;
    max-width: 740px;
    padding: 0 16px;
}

.blogSection {
    margin-top: 90px;
}

/* .projectSection { */
 /* background-color: #F5F5F7; */
    /* margin: auto; */
/* } */

.cardsContainer {
    /* display: grid; */
    /* 270 */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  */
    /* grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));   */
    /* grid-template-columns: repeat(auto-fit, minmax(305px, 1fr)); */
    /* 32px */
    /* grid-gap: 20px; */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    row-gap: 0;

    /* align-items: stretch; */
    /* display: flex;
    flex-direction: column; */
}   


.cardItem {
    /* max-width: 425px; */
    /* height: 472.5px; */
    height: auto;
    /* background-color: #F2F2F8; */
    /* border-radius: 5px; */
    /* box-shadow:  0 0 5px rgba(0, 0, 0, 0.365); */
    padding: 64px 0 0 0;

    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */

    border-bottom: 2px solid #000;

    transition: transform .16s ease-out,background-color .16s ease-out,border-color .16s ease-out;
}

/* .cardItem:hover {
    transform: scale(1.01);
} */

/* .cardItem:hover .cardContent{
    transform: scale(1.02);
} */

.cardItem:hover .cardContentTitle {
    color: #4f60f6;
}

/* .cardItem:hover .cardContentIntro {
    color: #4281df;
} */

.cardItem:hover .image{
    transform: scale(1.02);
    border-radius: 5px;
}

/* .cardItem:hover .imageContainer{
    transform: scale(1.02);
    border-radius: 5px;
} */


.imageContainer {
    /* 280 */
   height: auto;
   width: 100%;
   min-width: 100%;
   /* 322.5px; */
   overflow: hidden;
    justify-content: center;
    border-radius: 5px;
    transform: translateZ(0); 
    z-index: 10;
}

.image {
    object-fit: scale-down;
    object-position: top;
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    z-index: 0;
    transition: transform 0.7s;
}
/* .image:hover {
    transform: scale(1.03);
} */

.cardContent {
    /* height:  */
    /* backdrop-filter: blur(10px); */
    padding: 32px 0 32px 0;
    /* color: white;
    background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* row-gap: 10px; */
    /* transition: transform 0.7s; */
}

.cardContentTitle {
    /* margin: 0 0 5px 0; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Urbanist', sans-serif;
    font-size: 21px;
    letter-spacing: 0.01em;
    font-weight: 600;
    /* margin-bottom: 10px; */
}

.cardContentDate {
    margin: 0;
    font-size: 14px;
    margin-bottom: 12px;
    color: #7E8489;
    font-weight: 300;
    letter-spacing: -0.04em;
    /* margin-bottom: 10px; */
}

.cardContentIntro {
    /* margin: 0 0 10px 0; */
    font-size: 15px;
    line-height: 1.4;
    /* letter-spacing: -0.04em; */
    font-weight: 500;
    margin: 18px 0;
}

.appStore {
    font-size: 14px;
    letter-spacing: -0.04em;
    color: #0B70CA;
}

.smallTagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.projectsPageCardsContainer {
    /* display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-basis: 0; */
    /* column-gap: 20px; */
    /* width: 50%; */
    width: 100%;
    max-width: 420px;
    margin-right: auto;
    /* margin-left: auto; */
}

.background {
    background: linear-gradient(to bottom, #d5e4f3 -10%, #fff 100%);
}


/* mobile screens */ 
@media (max-width: 800px) {
    .aboutContainer {
        padding: 90px 16px 60px 16px;
    } 

    .intro {
        margin-bottom: 40px;
    }

    .introLinks {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .pageLink {
        margin-left: 0;
        margin-top: 0;
        /* padding: 10px 32px; */
        border: 1.5px solid #000;
        padding: 8px 30px;
    }

    .body {
        margin: 60px 0 90px 0;
    }

    .cardsContainer {
        grid-gap: 10px;
    }

    .cardItem {
        padding: 32px 0 0 0;
    }

    .cardContent {
        padding: 32px 0 32px 0;
    }

}

 /* blog.js */

 .barContainer {
    max-width: 740px;
    margin: auto;
 }

 .tagTilesSection {
    /* background-color: #DDEBF4; */
    /* background-color: #FFFCF2; */
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
 }

 .tagTilesContainer {
    max-width: 740px;
    margin: auto;
    /* padding: 0 16px;  */

    border-left: 1.5px solid black;
    /* border-right: 1.5px solid black; */

    display: flex;
    flex-direction: row;
}

.pillboxContainer {
    max-width: 740px;
    margin: auto;
    
    /* max-width: 740px; */
    /* border-bottom: solid 2px #1D1D1F;  */
    /* margin: 60px auto 30px auto; */
    margin: 80px 0 60px 0;
    /* margin: auto; */

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px; */

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;

    /* background-color: #F2F2F7; */ /* #e9e0ff; */
    padding: 0 0 18px 0;
    /* border-radius: 10px; */
    /* border: 2px solid #E5E5EA; */
    border-bottom: 2.5px solid #E5E5EA;
    
}

.bottomBorder {
  /* height: 2px; */
  /* background-color: #9a9aab; */
  /* background-color: #2A323C; */
}

/* .postsSectionBackground {
    background-color: #FFFCF2;
} */

 .pageContainer {
    margin: 0px auto 180px auto;
    /* font-family: Inter; */
    max-width: 740px;
    padding: 0 16px;
    /* background-color: #FFFCF2; */
 }

 /* blog small screen */
 @media (max-width: 800px) {
    .tagTilesContainer {
        border-left: none;
        border-right: none;
    }

    .pillboxContainer {
        padding: 16px 0;
        margin: 0 0 40px 0;
    }
}