@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    /* column-gap: 56px; */
}

.aboutContainer {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: #F2F2F8; */
    /* background-color: #F9F2FC; */
    /* background-color: #FFFBE9; */

    /* background-color: #F6F2FC;
    padding: 30px;
    border-radius: 16px; */
}

.aboutTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro {
    font-weight: 600;
    font-size: 17px;
    font-style: normal;
    /* color: #1d1d1f; */
    /* letter-spacing: -.04em; */
    line-height: 29px;
    margin: 0;
}

.pageLink {
    margin-top: 30px;
    font-size: 16px;

    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    /* font-size: 16px; */
    cursor: pointer;

    border-color: #2196F3;
    color: dodgerblue

}

.pageLink:hover {
    /* background-color: #C3E4FF; */
    /* text-decoration: underline;
    text-decoration-color: #0070F5;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 25%;
    font-weight: 600;
    color: #0070F5; */
    border-color: #FB2B43;
    color: #FB2B43;
}

.subSectionTitle {
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 36px 0;
    padding:0;
}

.profileImage {
    width: 240px; /* 120 */
    height: auto; /* 120 */
    min-width: 240px;  /* 120 */
    /* border-radius: 60px; */
    /* border-width: 1px; */
    /* border-color: #373530;
    border-style: solid; */
    margin-left: 44px;
}

.body {
    margin: 180px 0;
}

.blogSection {
    margin-top: 90px;
}

.projectSection {
 /* background-color: #F5F5F7; */
}

.cardsContainer {
    /* display: grid; */
    /* 270 */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  */
    /* grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));   */
    /* grid-template-columns: repeat(auto-fit, minmax(305px, 1fr)); */
    /* 32px */
    /* grid-gap: 20px; */
    

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
    grid-gap: 40px;

    /* align-items: stretch; */
    /* display: flex;
    flex-direction: column; */
}   


.cardItem {
    /* max-width: 425px; */
    /* height: 472.5px; */
    height: auto;
    background-color: #F2F2F8;
    border-radius: 5px;
    /* box-shadow:  0 0 5px rgba(0, 0, 0, 0.365); */
    /* padding: 40px 30px; */

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
/*
.imageContainer {
   height: 270px;
   overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    justify-content: center;
}
*/

.imageContainer {
    /* 280 */
   height: auto;
   width: 100%;
   min-width: 100%;
   /* 322.5px; */
   overflow: hidden;
    /* border-top-left-radius: 28px;
    border-top-right-radius: 28px; */
    /* border-radius: 28px; */
    justify-content: center;
    /* width: 50%; */
    /* padding: 5px; */
}

.blogpostImageContainer {
    width: 65px;
    height: 58px;
    min-width: 65px;
    overflow: hidden;
    justify-content: center;
}

.image {
    object-fit: scale-down;
    object-position: top;
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.cardContent {
    /* height:  */
    /* backdrop-filter: blur(10px); */
    padding: 30px;
    /* color: black; */
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
}

.cardContentTitle {
    /* margin: 0 0 5px 0; */
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cardContentDate {
    margin: 0;
    font-size: 14px;
    margin-bottom: 12px;
    color: #7E8489;
    font-weight: 300;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.cardContentIntro {
    /* margin: 0 0 10px 0; */
    font-size: 17px;
    /* letter-spacing: -0.04em; */
    font-weight: 400;
    margin-bottom: 10px;
}

.appStore {
    font-size: 14px;
    letter-spacing: -0.04em;
    color: #0B70CA;
}

.smallTagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.projectsPageCardsContainer {
    /* display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-basis: 0; */
    /* column-gap: 20px; */
    /* width: 50%; */
    width: 100%;
    max-width: 420px;
    margin-right: auto;
    /* margin-left: auto; */
}


/* mobile screens */ 
@media (max-width: 800px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 16px;
    } 

    .profileImage {
        width: 80px;
        height: 80px;
        min-width: 80px;
        border-radius: 40px;
        border-width: 1px;
        border-color: #373530;
        border-style: solid;
        margin-top: 20px;
        margin-left: 0;
        align-self: center;
        
    }

    .cardsContainer {
        grid-gap: 10px;
    }

    /* .cardItem {
        padding: 30px 16px;
    } */

    /* .cardContent {
        padding: 0 0 0 16px;
    } */
}