@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.footerBackground {
    width: 100%;
    padding: 40px 0;
    background-color: #f9f9f9;
}

.footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    font-family: 'Inter';
    font-weight: 500;

    margin: 0 auto;
    max-width: 750px;
}

.leftSide {
    display: flex;
    flex-direction: column;

    font-size: 15px;
    line-height: 25px;
}

.comment {
    color: #b1afb5;
}

.rightSide {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    /* padding-left: 12px; */
    margin-left: 12px;
}