@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.footerBackground {
    width: 100%;
    background-color: #F2F2F8;
    padding: 20px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Inter';
    font-weight: 500;

    background-color: #F2F2F8;
    margin: 0 auto;
    max-width: 750px;
}

.leftSide {
    display: flex;
    flex-direction: column;

    font-size: 15px;
    line-height: 25px;
}

.rightSide {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    /* padding-left: 12px; */
    margin-left: 12px;
}