.container {
    display: flex;
    align-items: center;
}

.iconSmall {
    width: 13px;
    height: 13px;
}

.iconMedium {
    width: 16px;
    height: 16px;
}

.textSmall {
    font-size: 13px;
    margin-left: 5px;
    color: #0B70CA;
    letter-spacing: -0.04em;
}

.textMedium {
    font-size: 16px;
    margin-left: 5px;
    color: #0B70CA;
    letter-spacing: -0.04em;
}