.container {
    display: flex;
    align-items: center;
}

.iconSmall {
    width: 12px;
    height: 12px;
}

.iconMedium {
    width: 15px;
    height: 15px;
}

.textSmall {
    font-size: 12px;
    margin-left: 5px;
    color: #0B70CA;
    /* letter-spacing: -0.04em; */
}

.textMedium {
    font-size: 15px;
    margin-left: 5px;
    color: #0B70CA;
    /* letter-spacing: -0.04em; */
}