.h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
}

.h2 {
    /* white-space: pre-wrap; */
    line-height: 21px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 40px;
}