.cardsContainer {
    display: grid;
    /* 270 */
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr)); 
    /* grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));   */
    /* grid-template-columns: repeat(auto-fit, minmax(305px, 1fr)); */
    /* 32px */
    grid-gap: 20px;
    margin-top: 40px;
    align-items: stretch;
}   


.cardItem {
    height: auto;
    /* background-color: #F2F2F8; */
    
    /* border: 1.5px solid #848488;
    border-radius: 15px; */
    border-radius: 5px 5px 5px 5px;
    background-color: #fffef9;
    border: 1.5px solid #000;
    /* background-color: white; */
    /* #848488; */
    /* border-radius: 23px; */

    /* border-left: 4px solid #000;
    background-color: #FBFBFD; */
    /* box-shadow:  0 0 5px rgba(0, 0, 0, 0.365); */
    padding: 34px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform .16s ease-out,background-color .16s ease-out,border-color .16s ease-out;
}

.cardItem:hover {
    /* border-color: #0061f2; */
    transform: scale(1.01);
    /* background-color: #F5F8FA; */
}

.cardItem:hover .chevron {
    stroke: #0061f2 !important;
    stroke-width: 3;
}
/*
.imageContainer {
   height: 270px;
   overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    justify-content: center;
}
*/



.blogpostImageContainer {
    width: 23px;
    height: 23px;
    min-width: 23px;
    overflow: hidden;
    justify-content: center;
}

.image {
    object-fit: scale-down;
    object-position: top;
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-radius: 28px;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: left;
    width: 100%;
}

.cardContent {
    /* height:  */
    /* backdrop-filter: blur(10px); */
    /* min-width: 100%; */
    flex-grow: 1;
    padding: 0;
    /* color: black; */
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardContentDate {
    margin: 0;
    font-size: 14px;
    margin-bottom: 4px;
    color: #7E8489;
    font-weight: 300;
}

.cardContentTitle {
    font-family: 'Urbanist', sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;;
    margin-bottom: 16px;
}

.cardContentIntro {
    font-size: 17px;
    /* color: #6e6e73; */
    /* color: #515154; */
    /* letter-spacing: -0.04em; */
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    /* margin-right: 68px; */
}

.tagsAndArrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chevronDiv {
    align-self: center;
}

.chevron {
    min-width: 48px;
    width: 48px;
    height: auto;
    /* fill: #0258F1; */
    stroke: #000;
    stroke-width: 2;
}

.appStore {
    font-size: 12px;
    letter-spacing: -0.04em;
    color: #0B70CA;
}

.smallTagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* mobile screens */ 
@media (max-width: 800px) {
    .cardItem {
        padding: 16px 16px;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
    }

    .cardWrapper {
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .chevronDiv {
        align-self: flex-end;
    }

    .chevron {
        min-width: 42px;
        width: 42px;
    }
}