.tile {
    font-family: 'Urbanist', sans-serif;
    font-size: 19px;
    font-weight: 400;

    padding: 14px 50px;
    border-right:  1.5px solid black; 
}

.tile:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #0061f2;
    /* background-color: #F0F5F9; */
}